---
- name: Update WAN Keys on Cisco IOS Devices
  hosts: routers
  gather_facts: false

  tasks:
    - name: Get Template Configuration
      ansible.builtin.template:
        src: /home/manny/github-repos/ansible-automation/templates/wan_key_config.j2
        dest: /home/manny/github-repos/ansible-automation/tmp/wan_key_config.cfg
    
    - name: Apply Configuration to Device
      cisco.ios.ios_config:
        src: /home/manny/github-repos/ansible-automation/tmp/wan_key_config.cfg
      register: config_result

    - name: Display Configuration Result
      debug:
        var: config_result.updates