!
banner motd ^
#####################################################################
###########You are now accessing Manny's Lab..............###########
#####################################################################

If you are the bad guys then FUCK YOU, NO UNAUTHORIZED ACCESS!
However if you just so happen to work here, please login. Thank you!"

#####################################################################
#####################################################################
#####################################################################
^
!